 .carrito-compras{
     width: 100%;
     height: 700px;
     display: flex;
     flex-direction: column;
     align-items: center;
 }

 .carrito-compras h1{
     text-align: center;
     font-family: "Akwe Pro", Medium;
     padding-top: 20px;
     font-size: 20px;
 }

 .detalle-compra{
     width: 900px;
     border-spacing: 0px !important; 
     margin-top: 20px;
     border: 1px solid #e9e9e9;
     text-align: center;
     font-family: "Akwe Pro", Light;
 }
 .detalle-compra thead{
    background-color: #F4F3F3;
 }
 .detalle-compra th{
     height: 60px;
 }
 .detalle-compra td{
     border-top: 1px solid #e9e9e9;
 }

 .img-carrito{
     width: 100px;
 }

 .tabla-total{
    width: 300px;
    border-spacing: 0px !important; 
    margin-top: 20px;
    border: 1px solid #e9e9e9;
    text-align: center;
    font-family: "Akwe Pro", Light;
    float: right;
 }
 .tabla-total th{
    background-color: #F4F3F3;
 }
 .tabla-total tr{
     height: 40px !important;
 }

 .btn-delete-all{
     font-family: "Akwe Pro", Light;
     display: block;
     text-align: center;
     padding-top: 11px;
     font-size: 14px;
     width: 110px;
     height: 40px;
     color: #434142;
     text-decoration: none;
     border-radius: 20px;
     background-color: rgb(236, 82, 82);
     float: left;
 }
 .total-carrito{
     width: 900px;
 }
 .delete_all_carrito{
     width: 900px;
 }
 .total-carrito h3{
     float: left;
     padding-top: 10px;
     padding-right: 10px;
     text-align: center;
 }
 .conte-btn-realipedido{
    width: 900px;
    padding-top: 15px;
 }
 .btn-hacer-pedido{
     font-family: "Akwe Pro", Light;
     display: block;
     width: 120px;
     border-radius: 20px;
     padding-top: 10px;
     color: #434142;
     text-decoration: none;
     text-align: center;
     background-color: rgb(39, 192, 39);
     height: 40px;
     float: right;
 }

 .trash{
    width: 20px;
 }

 @media screen and (max-width: 900px) {
     .carrito-compras{
         padding: 10px;
         height: auto;
     }
     .detalle-compra{
         width: 100%;
     }

     .delete_all_carrito{
         width: 100%;
     }
     .total-carrito{
         width: 100%;
     }

     .conte-btn-realipedido{
         width: 100%;
     }
 }