.confirmado-pedido{
    width: 100%;
    height: 800px;    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #434142;
}

.mensaje-confirmado h1{
    font-family: "Akwe Pro", Medium;
    font-size: 25px;
}
.mensaje-confirmado p, h3{
    font-family: "Akwe Pro", Light;
    font-size: 16px;
}

.datos-envios p, h3{
    font-family: "Akwe Pro", Light;
    font-size: 16px;
}

.ped-confir-datos{
    display: flex;
    flex-direction: row;
}

.datos-envios{
    margin: 60px;
}

.tabla-confirm-producto{
    margin: 60px;
}

.confirmado-producto{
    border: 1px solid #e9e9e9;
    border-spacing: 0px !important;
    width: 400px;
    text-align: center;
}

.confirmado-producto thead{
    background-color: #F4F3F3;
}

.confirmado-producto th{
    height: 60px;
}

.confirmado-producto td{
    border-top: 1px solid #e9e9e9;
}

.confirmado-producto td a{
    text-decoration: none;
    color: #434142;
}


@media screen and (max-width: 900px) {
    .ped-confir-datos{
        flex-direction: column;
        width: 100%;
    }

    .tabla-confirm-producto{
        margin: 0px;
    }

    .confirmado-pedido{
        padding: 20px;
        flex-direction: column;
        height: auto;
    }

    .datos-env{
        width: 360px;
    }

    .confirmado-producto{
        width: 100%;
    }
}