@font-face {
    font-family: 'Akwe Pro', sans-serif;
    src: url('http://fonts.cdnfonts.com/css/akwe-pro');
}

@font-face {
    font-family: 'Source Serif Pro', sans-serif;
    src: url('http://fonts.cdnfonts.com/css/source-serif-pro');
}