@font-face {
    font-family:  "Akwe Pro", Medium;
    src: url(../Fonts/Akwe\ Pro\ Medium.otf);
}

@font-face {
    font-family: "Akwe Pro", Light;
    src: url(../Fonts/Akwe\ Pro\ Light.otf);
}

@font-face {
    font-family: source-serif;
    src: url(../Fonts/SourceSerifPro-Regular.ttf);
}