.history {
  display: flex;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  padding: 100px;
  justify-content: center;
  align-items: center;
}
.history-text {
  background-color: #F4F3F3;
  width: 350px;
  height: 350px;
  padding: 35px;
  position: relative;
  right: 50px;
}

.history-text h3{
  font-size: 35px;
  font-family: "Akwe Pro", Medium;
}

.history-text p{
  font-family: "Akwe Pro", Light;
  text-align: justify;
  font-size: 17px;
}

.history div img {
  width: 400px;
  height: auto;
  background-color: #ffcb05;
  left: 200px;
}

@media screen and (max-width: 900px) {
  .history {
    flex-direction: column;
  }
  .history div img {
    width: 220px;
    height: auto;
  }
  .history-text {
    width: 280px;
    height: auto;
    position: inherit;
    margin-top: -4px;
    
  }

  .history-text p {
    font-size: 14px;
  }
}
