.nav-items{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.control-menu{
  height: 0px;
  overflow: hidden;
}
ul {
  list-style: none;
}
ul li {
  padding: 10px;
}
ul li a {
  color: #434142;
  text-decoration: none;
  padding-left: 50px;
  padding-right: 50px;
  text-transform: uppercase;
  font-family: "Akwe Pro", Medium;
  font-size: 20px;
}

.menu ul li:hover a {
  border-bottom: 2px solid #ffcb05;
}
.container-btn-carrito{
  width: 100%;
}
.container-btn-carrito a{
  width: 100%;
  padding-right: 50px;
}
.flotante img{
  width: 50px;
  
}
.flotante {
  display:flex;
  justify-content: flex-end;
}

@media screen and (max-width: 900px) {
  .nav-items{
    display: block;
    height: 0px;
    overflow: hidden;
  }
.nav-items li {
  padding-bottom: 10px;
}
  .control-menu{
    height: 20px;
    overflow: visible;
    text-align: center;
    background-color: #ffcb05;
    margin-top: 15px;
  }
  .control-menu a{
    text-decoration: none;
    color: #434142;
    font-family: "Akwe Pro", Light;
  }
  #menu:target .nav-items{
    height: 15.8em;
  }
  .close{
    display: none;
  }
  #menu:target .open{
    display: none;
  }
  #menu:target .close{
    display: block;
  }

  #menu:target .nav-items{
    background-color: #f0f0f0 repeat scroll 0 0;
    height: 15.8em;
    transition: height 0.4s ease-in-out 0s, backgroud-color 0.9s ease 0s;
  }
  ul.nav-items{
    clear: both;
    height: 0;
    overflow: hidden;
    transition: height 0.4s ease-in-out 0s, backgroud-color 0.9s ease 0s;
  }

  ul li {
    text-align: center;
    padding: 0px;
  }
  ul li a {
    padding: 6px;
    font-size: 14px;
  }


  .flotante img{
    width: 30px;
  }
}
