* {
  padding: 0px;
  margin: 0px;
}
body {
  background-color: white;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

.history-vi {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding-top: 30px;
  padding-bottom: 30px;
}
